@model IEnumerable<FA.JustBlog.Models.CategoryViewModel>

<form id="myForm" method="get" action="/Post/Index" onchange="document.getElementById('myForm').submit();">

  <select class="form-control" id="category" name="postCategory">
    <option>Select category</option>
    @foreach (var item in Model) {
      <option value="@item.Id">@item.Name</option>
    }
  </select>
</form>

